h1 {
    text-align: center;
    color: chocolate;
}

h5 {
    color: darkgreen;
}

#contenedor {
    display: flex;
    flex-wrap: wrap;
}

#tablaCarrito {
    color: chocolate;
    background-color: antiquewhite;
}


